.Hero {
  background-image: url(../../assets/hero.png);
  /* filter: grayscale(70%); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  margin-bottom: 5rem;
}

.title {
  padding-top: 5rem;
}

.formulario {
  margin-top: 6.5rem;
  /* margin-right: 2rem; */
  padding: 2rem 1rem;
}

@media screen and (max-width: 768px) {
  .formulario {
    margin-top: 3rem;
  }
  .title {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 475px) {
  .title {
    padding-top: 1rem;
  }
}
